h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}
p, div {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.navbar {
  background-color: #257;
  border-bottom: none;
  margin-bottom: 0;
}

  .navbar-brand { color: #fefefe; font-weight: 700; }

  .navbar-default .navbar-nav > li > a { color: #fefefe; text-decoration: underline; }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus { background-color: #fefefe; color: #257; text-decoration: none; }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: #34cf7a;
    color: #fefefe;
    text-decoration: none;
  }

/* .jumbotron { */
.jumbotron { background-color: rgba(23,23,23,0.4); margin-bottom: 0; }

  .jumbotron h1 {
    color: #fefefe;
    font-weight: 700;
    letter-spacing: .05rem;
    text-shadow:
      1px 0px 1px #aaa,
      0px 1px 1px #999,
      2px 1px 1px #aaa;
    text-transform: uppercase;
  }

  .jumbotron .btn {
    color: #fefefe;
    font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    padding: 14px 24px;
    text-transform: uppercase;
  }

    .btn-overview {
      background-color: #34cf7a;
      border-color: #29a360;
      margin-right: 24px;
    }
      .btn-overview:hover,.btn-overview:focus,.btn-overview:active { background-color: #29a360; border-color: #238a51; }

    .btn-brochure {
      background-color: #e3522f;
      border-color: #cf4b2b;
    }
      .btn-brochure:hover,.btn-brochure:focus,.btn-brochure:active { background-color: #cf4b2b; border-color: #bd4427; }
/* } .jumbotron */

.container-full {
  background-color: rgba(254,254,254,0.75);
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  background-color: #257;
  color: #fefefe;
  font-size: 48px;
  margin: 0 auto;
  padding: 28px 0;
  text-align: center;
  text-shadow: 1px 1px 1px #333;
}

/* .dates { */
.dates { text-align: center; }

  .dates p {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 14px;
  }

    .dates p:first-child { margin-top: 56px; }

    .dates p:last-child { font-size: 20px; font-weight: 300; margin-bottom: 56px; }
/* } .dates */

.container-full > .container {
  padding: 56px 0;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

.list-group-item { background-color: #fefefe; font-size: 18px; line-height: 1.5; }

/* footer { */
footer {
  background-color: #333;
  color: #fefefe;
}

  footer .container-full { background-color: transparent; }

  footer h3 {
    color: #34cf7a;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 auto 14px;
    text-shadow: 1px 1px 1px #238a51;
    text-transform: uppercase;
  }

  footer p { font-size: 16px; font-weight: 400; }

  footer em { font-weight: 300; }

  footer a, footer .gc-cs-link { color: #34cf7a; text-decoration: none; }

  footer a:hover, footer a:active { color: #34cf7a; text-decoration: underline; }

  footer .nav-pills > li > a { color: #fefefe; text-decoration: underline; }

  footer .nav-pills > li > a:hover,
  footer .nav-pills > li > a:focus {
    background-color: #fefefe;
    color: #257;
    text-decoration: none;
  }

  footer .nav-pills > li.active > a,
  footer .nav-pills > li.active > a:hover,
  footer .nav-pills > li.active > a:focus {
    background-color: #257;
    color: #fefefe;
    text-decoration: none;
  }
/* } footer */


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    padding-bottom: 124px;
    padding-top: 104px;
  }
  body > .container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
