h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}
p, div {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

/* .navbar { */
.navbar {
  background-color: #257;
  border-bottom: none;
  margin-bottom: 0;
}

  .navbar-default .navbar-brand {
    color: #fefefe;
    font-weight: 700;
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #fefefe;
    text-decoration: underline;
  }

  .navbar-default .navbar-nav > li > a {
    color: #fefefe;
    text-decoration: underline;
  }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li:last-child > a:hover,
    .navbar-default .navbar-nav > li:last-child > a:focus {
      background-color: #fefefe;
      color: #257;
      text-decoration: none;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
      background-color: #34cf7a;
      color: #fefefe;
      text-decoration: none;
    }

  .navbar-default .navbar-nav > li:last-child > a {
    background-color: #e3522f;
    /*color: #fefefe;
    text-decoration: underline;*/
  }
/* } .navbar */

/* .jumbotron { */
.jumbotron { background-color: rgba(254,254,254,0.75); margin-bottom: 0; }

  .jumbotron h1 {
    color: #257;
    font-weight: 700;
    letter-spacing: .05rem;
    text-shadow:
      1px 0px 1px #035,
      0px 1px 1px #146,
      2px 1px 1px #035;
    text-transform: capitalize;
  }

  .btn {
    color: #fefefe;
    font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    padding: 14px 24px;
    text-transform: uppercase;
  }

    .btn-overview {
      background-color: #34cf7a;
      border-color: #29a360;
      margin-right: 24px;
    }
      .btn-overview:hover,.btn-overview:focus,.btn-overview:active { background-color: #29a360; border-color: #238a51; }

    .btn-brochure {
      background-color: #e3522f;
      border-color: #cf4b2b;
      text-transform: uppercase;
    }
      .btn-brochure:hover,.btn-brochure:focus,.btn-brochure:active { background-color: #cf4b2b; border-color: #bd4427; }
/* } .jumbotron */

/* { .container-full */
.container-full {
  background-color: rgba(254,254,254,0.75);
  margin: 0 auto;
  padding: 0 15px;
}

  .container-full h1:first-child {
    color: #34cf7a;
    font-size: 60px;
    margin: 0 auto;
    padding: 28px 0 0;
    text-align: center;
    text-shadow: 1px 1px 1px #257;
    text-transform: capitalize;
  }
/* } .container-full */

/* h2 { */
h2 {
  background-color: rgba(254,254,254,0.75);
  color: #257;
  font-size: 48px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-shadow: 1px 1px 1px #146;
}

  h2.first { padding-top: 56px; }
/* } h2 */

/* .dates { */
.dates { text-align: center; }

  .dates p {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 14px;
  }

    .dates p:first-child { margin-top: 56px; }

    .dates p:last-child { font-size: 20px; font-weight: 300; }
/* } .dates */

.dates-note {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  margin-top: -42px;
  text-align: center;
}

.container-full > .container { padding: 56px 0; }

p {
  font-size: 20px;
  line-height: 1.5;
}

ul li { font-size: 18px; margin-bottom: 9px; }

  ul li:last-child { margin-bottom: 0; }

/* make gmaps responsive */
.responsive-map {
  height: 0;
  overflow: hidden;
  padding-bottom: 75%;
  padding-top: 30px;
  position: relative;
}

.responsive-map embed,
.responsive-map iframe,
.responsive-map object {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.list-group-item { background-color: #fefefe; font-size: 18px; line-height: 1.5; }

.registration .container-full > .container { text-align: center; }

.registration .list-group-item { font-size: 20px; }

address { font-size: 24px; text-align: center; }

/* footer { */
footer {
  background-color: #333;
  color: #fefefe;
}

  footer .container-full { background-color: transparent; }

  footer .col-sm-4 { text-align: left; }

  footer h3 {
    color: #34cf7a;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 auto 14px;
    text-shadow: 1px 1px 1px #238a51;
    text-transform: capitalize;
  }

  footer p { font-size: 16px; font-weight: 400; }

  footer em { font-weight: 300; }

  footer a, footer .gc-cs-link { color: #34cf7a; text-decoration: none; }

  footer a:hover, footer a:active { color: #34cf7a; text-decoration: underline; }

  footer .nav-pills > li > a { color: #fefefe; text-decoration: underline; }

  footer .nav-pills > li > a:hover,
  footer .nav-pills > li > a:focus {
    background-color: #fefefe;
    color: #257;
    text-decoration: none;
  }

  footer .nav-pills > li.active > a,
  footer .nav-pills > li.active > a:hover,
  footer .nav-pills > li.active > a:focus {
    background-color: #257;
    color: #fefefe;
    text-decoration: none;
  }
/* } footer */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    padding-bottom: 156px;
    padding-top: 136px;
  }
  body > .container {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .container-full h1:first-child { padding-top: 56px; }
}