.printer { background: #dcdcdc; }

.page {
  background: #fefefe;
  box-shadow: 0px 2px 6px #777;
  margin: 28px auto 0;
  padding: 42px 98px;
  max-width: 768px;
}

  .page h1,
  .page h2 {
    color: #333;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;
  }

  .page h1 {
    font-size: 28px;
    font-weight: 700;
  }

  .page h2 {
    font-size: 24px;
    font-weight: 400;
    text-shadow: none;
  }

  .page p { text-align: center; }

  .page li { font-size: 20px; }

  .container-full { background: none; margin-top: 18px; }

@media print {

  @page { margin: 1.5in; }

  header, .container-full { display: none; }

  .page {
    background: #fff;
    box-shadow: none;
    color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}